.navbar-wrapper {
  width: 30%;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  .navbar-links-wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
    .navbar-link {
      display: flex;
      align-items: center;
      gap: 50px;
      padding: 2px 20px;
      text-align: center;
      box-sizing: border-box;
      border-radius: 15px;
      letter-spacing: 1px;
      .navbar-link-icon {
        font-size: 1.2rem;
      }

      &:hover {
        background-color: #ced5ea;
      }
    }

    .navbar-link-active {
      display: flex;
      align-items: center;
      gap: 50px;
      background-color: #ced5ea;
      padding: 2px 20px;
      border-radius: 15px;
      .navbar-link-icon {
        font-size: 1.2rem;
      }
    }
  }

  .navbar-logout-button {
    .navbar-logout-button-container {
      cursor: pointer;
      .navbar-logout-icon {
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .navbar-wrapper {
    width: 60px;
    display: flex;
    padding: 20px 0;
  }

  .navbar-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .navbar-wrapper .navbar-links-wrapper .navbar-link-active {
    background-color: transparent;
    color: #6c9bc9;
  }
  .navbar-link-name {
    display: none;
  }
}
