.comment-modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    min-width: 500px;
    min-height: 200px;
    border-radius: 15px;
    background-color: white;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    header {
      width: 100%;
      height: 20px;

      .icon {
        font-size: 2rem;
        padding: 2px;
        cursor: pointer;
        border-radius: 50%;
        transition: 300ms ease;
        &:hover {
          background-color: rgb(214, 212, 212);
        }
      }
    }

    .parent-post {
      .content {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px 0;
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
        .right-side {
          p {
            margin: 0;
          }
        }
      }
      border-bottom: 1px solid gray;
    }
    .comment-post {
      .content {
        display: flex;
        gap: 10px;
        align-items: center;
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }

        p {
          margin: 0;
        }

        textarea {
          border: none;
          outline: none;
          resize: none;

          width: 50%;
          height: 50px;
          letter-spacing: 0.7px;
          font-size: 0.85rem;
        }
      }
    }

    footer {
      display: flex;
      justify-content: flex-end;
      button {
        @include darkButtons;
      }
    }
  }
}
