@import "../../mixin.scss";
.profile-page-container {
  @include PageContainer;
  header {
    display: flex;
    align-items: center;
    gap: 30px;
    letter-spacing: 0.8px;
    position: sticky;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 0 20px;
    color: var(--text);

    svg {
      font-size: 1.25rem;
      cursor: pointer;
    }
    .header-buttons {
      margin-left: auto;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .delete-user-button {
      padding: 5px 10px;
      border-radius: 15px;
      outline: none;
      border: none;
      background-color: rgba(255, 0, 0, 0.628);
      color: var(--text);
      cursor: pointer;
      transition: 200ms ease;
      &:hover {
        background-color: rgba(255, 0, 0, 0.45);
        scale: 0.95;
      }
    }
  }

  .user-content {
    display: block;
    justify-content: center;
    color: var(--text);

    img {
      width: 250px;
      border-radius: 50%;
      margin: 0 auto;
    }

    .content {
      box-sizing: border-box;
      padding: 0 20px;

      h5 {
        font-size: 1rem;
        letter-spacing: 0.8px;
        margin: 10px 0;
      }

      p {
        margin: 0;
      }

      .followers-container {
        display: flex;
        gap: 20px;
        width: 100%;

        .follow-button {
          margin-left: auto;
        }
      }
    }
  }

  .profile-navbar-container {
    overflow-x: auto;
    white-space: nowrap;
    border-bottom: 1px solid var(--border-color);
    color: var(--text);

    &::-webkit-scrollbar {
      width: 5px;
      height: 6px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgb(133, 132, 132);
      border-radius: 15px;
      max-width: 5px;
    }

    ul {
      width: 100%;
      list-style: none;
      display: inline-flex;
      box-sizing: border-box;
      padding: 0 2px;
      min-width: 540px;
      overflow-x: auto;
      white-space: nowrap;
      margin-bottom: 0;

      li {
        flex: 1;
        text-align: center;
        cursor: pointer;
        padding: 5px 0;
        letter-spacing: 0.5px;

        &:hover {
          background-color: rgb(208, 208, 208);
        }
      }
      li.active {
        text-decoration-line: underline;
        text-underline-offset: 6px;
        text-decoration-thickness: 3px;
        text-decoration-color: rgb(93, 164, 239);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  section.profile-page-wrapper {
    gap: 0;
  }
}
