@media screen and (max-width: 786px) {
  section.signup-page-wrapper {
    .signup-form {
      width: 90%;
      min-width: 250px;
      min-height: 80vh;

      .signup-input-container {
        width: 80%;
        min-width: 270px;
      }

      .signup-button {
        width: 80%;
      }
    }
  }
}
