.comment-wrapper {
  display: block;
  box-sizing: border-box;
  justify-content: center;
  border-bottom: 1px solid var(--border-color);
  cursor: pointer;
  transition: 200ms ease;
  position: relative;
  color: var(--text);

  &:hover {
    background-color: var(--post-background-color);
  }

  .options-modal {
    position: absolute;
    top: 40%;
    right: 0;
    background-color: var(--options-background-color);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    div {
      flex: 1;
      letter-spacing: 1px;
      padding: 5px 15px;
      width: 100%;
      text-align: center;

      &:hover {
        background-color: var(--options-hover);
      }
    }
  }
  .comment-container {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    gap: 10px;
    position: relative;

    .content {
      img {
        width: 40px;
        height: 40px;
      }
      p {
        margin: 0;
      }
    }

    .options-btn {
      margin-left: auto;
    }
  }

  footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 0;
    .button-container {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      gap: 5px;
      z-index: 10;
      border-radius: 50%;

      p {
        margin: 0;
      }

      .post-like-button {
        color: var(--text);
      }

      .post-like-button-active {
        fill: rgb(197, 38, 38);
        scale: 1.1;
      }
    }
  }
}
