section.login-page-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  section.container {
    width: 50%;
    max-width: 1800px;
    min-width: 786px;
    height: 75vh;
    max-height: 1015px;
    display: flex;
    z-index: 11;
    position: relative;

    article {
      height: inherit;
      flex: 1;
    }

    article.login-content {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    article.background-filler {
      position: absolute;
      width: 50%;
      z-index: 20;
      transition: 200ms ease;
      .background-filler-content {
        position: relative;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: inherit;
        flex-direction: column;
        z-index: 20;
        h1 {
          font-size: 2rem;
          letter-spacing: 3px;
        }

        p {
          letter-spacing: 1px;
          width: 90%;
          font-size: 1.2rem;
        }

        .signup-btn {
          border: none;
          outline: none;
          background-color: #6a6a6a;
          border-radius: 30px;
          padding: 5px 15px;
          color: white;
          font-size: 1.1rem;
          letter-spacing: 1px;
          cursor: pointer;
          transition: 300ms ease;

          &:hover {
            letter-spacing: 2px;
          }
        }
      }
    }
  }
}
