.navbar-wrapper {
  width: 30%;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  .navbar-links-wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
    .navbar-link {
      display: flex;
      align-items: center;
      gap: 50px;
      padding: 2px 20px;
      text-align: center;
      box-sizing: border-box;
      border-radius: 15px;
      letter-spacing: 1px;
      .navbar-link-icon {
        font-size: 1.2rem;
      }

      img {
        width: 21px;
        height: 21px;
      }

      &:hover {
        background-color: #ced5ea;
      }
    }

    .navbar-link-active {
      display: flex;
      align-items: center;
      gap: 50px;
      background-color: #ced5ea;
      padding: 2px 20px;
      border-radius: 15px;
      .navbar-link-icon {
        font-size: 1.2rem;
      }
    }
  }

  .logged-user {
    width: 100%;
    margin-top: auto;
    padding: 5px 15px;
    border-radius: 15px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    cursor: pointer;
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    p {
      margin: 0;
    }

    .logged-user-modal {
      position: absolute;
      width: 250px;
      top: -210%;
      left: 0;
      border-radius: 15px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      letter-spacing: 1px;
      transition: 300ms ease;
      background-color: white;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.435);
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.435);
      -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.435);
      a {
        text-decoration: none;
        padding: 10px 0;
        transition: 200ms ease;

        &:hover {
          background-color: rgb(206, 205, 205);
        }
      }

      .signout {
        padding: 10px 0;
        transition: 200ms ease;
        &:hover {
          background-color: rgb(206, 205, 205);
        }
      }
    }
  }

  .active {
    background-color: #ced5ea;
  }
}

@media screen and (max-width: 900px) {
  .navbar-wrapper {
    width: 60px;
    display: flex;
    padding: 20px 0;

    .logged-user {
      justify-content: center;
      align-items: center;
      background-color: transparent;
      p {
        display: none;
      }
    }
  }

  .navbar-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .navbar-wrapper .navbar-links-wrapper .navbar-link-active {
    background-color: transparent;
    color: #6c9bc9;
  }
  .navbar-link-name {
    display: none;
  }
}

@media screen and (max-width: 475px) {
  .navbar-wrapper {
    display: none;
  }
}
