@import "../../mixin.scss";

a.post-wrapper {
  width: 100%;
  display: block;
  border-bottom: 1px solid var(--border-color);
  border-top: none;
  box-sizing: border-box;
  padding: 10px;
  outline: none;
  transition: 300ms ease;
  position: relative;
  color: var(--text);

  &:hover {
    background-color: var(--post-background-color);
  }

  .options-modal {
    position: absolute;
    top: 25%;
    right: 0;
    background-color: var(--options-background-color);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;

    div {
      flex: 1;
      letter-spacing: 1px;
      padding: 5px 15px;
      width: 100%;
      text-align: center;
      color: var(--text);

      &:hover {
        background-color: var(--options-hover);
      }
    }
  }

  .post-container {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    position: relative;

    .post-content {
      flex: 9;
      p {
        margin: 0;
      }

      .username {
        font-weight: 700;
        font-size: 0.85rem;
        letter-spacing: 0.6px;
      }
    }

    .post-options-button {
      margin: 0 auto;
      cursor: pointer;
      fill: var(--text);
    }
  }

  .footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 0;

    .button-container {
      display: flex;
      align-items: center;
      gap: 5px;
      .post-like-button-active {
        fill: rgb(197, 38, 38);
        scale: 1.1;
      }
      .action-button-icon {
        cursor: pointer;
        transition: 200ms ease;
        color: var(--action-button-color);
        &:hover {
          scale: 1.05;
        }
      }

      p {
        margin: 0;
      }
    }
  }
}
