@import "../mixin.scss";

.search-container {
  @include PageContainer;

  header {
    display: flex;
    align-items: center;
    height: 70px;
    box-sizing: border-box;
    padding: 0 10px;
    justify-content: space-between;
    .input-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      background-color: var(--search-bar-color);
      border-radius: 15px;
      padding: 5px 15px;
      color: var(--text);
      input {
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 1rem;
        letter-spacing: 1px;
        flex: 5;
        color: var(--text);
      }
      .icon {
        font-size: 1rem;
        flex: 1;
        cursor: pointer;
      }
    }

    .back-button {
      cursor: pointer;
      color: var(--text);
    }
  }

  ul.actions {
    display: flex;
    list-style: none;
    padding: 0;
    border-bottom: 1px solid gray;

    li {
      text-decoration: none;
      flex: 1;
      text-align: center;
      cursor: pointer;
      letter-spacing: 0.5px;
      transition: 200ms ease;
      padding: 5px 0;
      border-radius: 2px;
      color: var(--text);
      &:hover {
        background-color: var(--nav-link-background-color);
      }
    }

    li.active {
      background-color: var(--nav-link-background-color);
    }
  }

  a.community-link {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid rgb(204, 204, 204);
    padding: 5px 0;
    img {
      height: 100px;
      width: 100px;
      border-radius: 5px;
    }

    .details {
      p {
        margin: 0;
      }
    }
  }

  .no-results {
    text-align: center;
    font-size: 2rem;
  }

  .loader {
    margin: 0 auto;
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    background: radial-gradient(circle closest-side, #000 94%, #0000)
      right/calc(200% - 1em) 100%;
    animation: l24 1s infinite alternate linear;
  }
  .loader::before {
    content: "Searching...";
    line-height: 1em;
    color: #0000;
    background: inherit;
    background-image: radial-gradient(circle closest-side, #fff 94%, #000);
    -webkit-background-clip: text;
    background-clip: text;
  }

  @keyframes l24 {
    100% {
      background-position: left;
    }
  }
}
