@import "./mixin.scss";

.post-page-container {
  @include PageContainer;

  header {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 10px;
    backdrop-filter: blur(10px);
    position: sticky;
    left: 0;
    top: 0;
    color: var(--text);

    p {
      font-size: 1.2rem;
      letter-spacing: 1px;
      margin: 0;
    }

    .back-button {
      font-size: 1.2rem;
      cursor: pointer;
      border-radius: 50%;
      box-sizing: content-box;
      padding: 2px 5px;
      transition: 200ms ease;
    }
  }

  .main-post {
    padding: 15px 15px 0 15px;
    color: var(--text);
    .upper-post {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      justify-content: space-between;
      position: relative;
      .user-details {
        display: flex;
        align-items: center;
        gap: 15px;

        cursor: pointer;
        img,
        svg {
          width: 65px;
          height: 65px;
          border-radius: 50%;
        }
      }
      .action-buttons {
        display: flex;
        align-items: center;
        gap: 15px;

        .options-btn {
          cursor: pointer;
        }
      }

      .options-modal {
        position: absolute;
        top: 50px;
        right: -10px;
        background-color: var(--options-background-color);
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;

        div {
          flex: 1;
          letter-spacing: 1px;
          padding: 5px 15px;
          width: 100%;
          text-align: center;
          color: var(--text);
          cursor: pointer;

          &:hover {
            background-color: var(--options-hover);
          }
        }
      }
    }

    .post-content {
      p {
        margin-top: 5px;
        font-size: 1.15rem;
        letter-spacing: 0.5px;
      }
    }
    footer {
      .post-details {
        color: var(--date-color);
        font-size: 0.8rem;
        letter-spacing: 0.8px;
      }
      .post-action-buttons {
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        max-height: 40px;

        .icon {
          cursor: pointer;
          transition: 200ms ease;
          &:hover {
            scale: 1.1;
          }
        }

        .button-container {
          display: flex;
          align-items: center;
          cursor: pointer;
          gap: 7px;

          .post-like-button {
            fill: gray;
          }

          .post-like-button-active {
            fill: rgb(197, 38, 38);
            scale: 1.1;
          }
        }
      }
    }
  }
  form {
    border-bottom: 1px solid gray;
    box-sizing: border-box;
    padding: 10px;
    color: var(--text);
    p {
      font-size: 0.85rem;

      a {
        color: #248bd8;
        letter-spacing: 0.5px;
      }
    }
    .content {
      display: flex;
      gap: 10px;
      align-items: center;
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }

      textarea {
        border: none;
        resize: none;
        background-color: transparent;
        width: 70%;
        outline: none;
        letter-spacing: 0.8px;
        font-size: 0.85rem;
        color: var(--text);
      }
    }

    button {
      display: block;
      margin-left: auto;
      margin-right: 0;
    }
  }
}
