@mixin darkButtons {
  background-color: rgb(71, 70, 70);
  transition: 300ms ease;
  letter-spacing: 0.8px;
  font-size: 0.75rem;
  padding: 7px 15px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  color: white;
  &:hover {
    background-color: rgb(107, 106, 106);
  }
}

@mixin ContentContainer {
  width: 100%;
  max-width: 570px;
  min-width: 300px;
  min-height: 100vh;
  border: 1px solid rgb(218, 218, 218);

  @media screen and (max-width: 475px) {
    .communities-page-container {
      max-width: 100%;
      width: 100%;
    }
  }
}
