@import "./mixin.scss";

a.follower-wrapper {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 15px;
  border-bottom: 1px solid rgb(198, 196, 196);
  display: block;
  transition: 200ms ease;
  position: relative;

  &:hover {
    background-color: rgb(212, 212, 212);
  }
  .upper {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    h5 {
      letter-spacing: 1px;
      margin: 0;
    }

    p {
      margin: 0;
    }

    button {
      margin-left: auto;
      @include darkButtons;
    }

    .options-icon {
      margin-left: auto;
    }
  }

  .options-button {
    position: absolute;
    background-color: rgb(217, 159, 159);
    padding: 5px;
    top: 50px;
    right: -5px;

    @include darkButtons;
  }
}
