.feed-post-modal-wrapper {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;

  .feed-post-modal-container {
    min-width: 620px;
    min-height: 240px;
    background-color: white;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .profile-content {
      display: flex;
      gap: 10px;
      align-items: center;
      .icon {
        font-size: 35px;
      }

      p {
        letter-spacing: 0.7px;
      }
    }

    .inputs {
      display: flex;
      gap: 20px;
      flex-direction: column;
      .textarea {
        resize: none;
        border: none;
        outline: none;
        width: 70%;
        border-bottom: 0.5px solid gray;
        padding-bottom: 10px;
        overflow: hidden;
        max-height: 70vh;
      }

      .textarea[contenteditable]:empty::before {
        content: "Write here";
        color: gray;
      }
      .icon {
        font-size: 30px;
        cursor: pointer;
      }
    }

    .feed-post-modal-button {
      width: 100px;
      margin: 0 auto;
      cursor: pointer;
      background-color: #185ad8;
      color: white;
      border: none;
      padding: 5px 20px;
      border-radius: 10px;

      &:hover {
        background-color: #1a6afd;
      }
    }
  }
}
